@charset "UTF-8";

nav {
    background-color: #e74c3c !important;
}

nav *{
    background-color: #e74c3c !important;
}

.top-bar.expanded {
    overflow:visible;
}
.top-bar-section ul {
    position: absolute;
    right: 0;
}

.top-bar-container {
    position: absolute;
    z-index: 1;
}

.name h1 a{
    font-family: 'Questrial', sans-serif;
    color: #FFFFFF;
    font-size: 1.8em !important;
}

.welcome-container {
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 1;
    text-align: center;
    width: 50%;
}

.team-photo {
    border-radius: 1000px;
    border: 6px solid #3478b8;
}

.testimonial-photo {
    border-radius: 1000px;
    border: 3px solid #cacecf;
}

.primary-font {
    font-family: 'Lato', sans-serif;
}

.welcome-container h1 {
    color: #FFFFFF;
    font-weight: 700;
    text-shadow: #939393 2px 2px 3px;
    text-align: left;
}

.text-bold {
     font-weight: 700;
 }

.testimonial-wrap {
    margin: 0 auto;
    width: 90%;
    margin-top: 60px;
}

.tertiary-background {
    background: #3498db;
}

.secondary-background {
    background: #ecf0f1;
}

.title-primary-color {
    color: #2c3e50;
}

.title-secondary-color {
    color: #5d6061;
}

.content-margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

hr {
    margin: 0 auto;
    width: 60px;
    padding-bottom: 50px;
}

.title-margin {
    padding-top: 30px;
}

.text-primary-color {
    color: #787b7c;
}

.text-secondary-color {
    color: #f1c40f;
}

.primary-background {
    background: #27ae60;
}

.service-icon {
    color: #003f54;
    width: 100px;
    height: 100px;
}
.default-text {
    color: #ffffff;
}

.default-text span {
    color: #f1c40f;
}

.welcome-container h1 span{
    color: #f1c40f;
}

.welcome-container .button{
    top: 15px;
    background: #e74c3c;
    float: left;
}

.menu-area {
    margin-right: 30px;
}

.row.full-width { width: 100%; max-width: 100%; }
.row.full-width >.column:first-child,
.row.full-width >.columns:first-child { padding-left: 0; }
.row.full-width >.column:last-child,
.row.full-width >.columns:last-child { padding-right: 0; }

.hero {
    background: url("http://www.banksy-wallpaper.com/wallpapers/800x600/10-i-am-father.jpg") no-repeat center center;
    background-size: cover;
    height: 50vh;
    overflow: hidden; }
.hero h1, .hero h2 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: 1rem 0 0 1rem;
    margin: 0; }

.row {
    max-width: 1200px;
}

.footer {
    background-color: #292c2f;
    text-align: center;
    font-size: 1.2rem;
    padding: 4rem; }
.footer .inline-list a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 3px 0 0; }
.footer .contact {
    list-style-type: none;
    margin: 0;
    text-align: left;
    color: #fff; }
.footer .contact li {
    margin-bottom: 2rem; }
.footer .contact li p {
    padding-left: 5rem; }
.footer .contact i {
    position: absolute;
    background-color: #33383b;
    color: #fff;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1;
    margin: 0 0 0 -4rem;
    vertical-align: middle;
    padding: .25em .45em; }
.footer .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0 0 1rem 0; }
.footer .about {
    color: #92999f;
    font-size: 0.875rem;
    margin: 0 0 1rem 0; }
.footer .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem; }
.footer .footer-links a::after {
    content: "•";
    padding: 0 0.2rem 0 0.4rem; }
.footer .footer-links a:last-child::after {
    content: "";
    padding: 0 0.4rem 0 0.8rem; }
@media only screen and (min-width: 40.063em) {
    .footer p {
        text-align: left; }
    .footer .social {
        text-align: left;
        margin: 0; }
    .footer .contact {
        text-align: left; }
    .footer .contact > i {
        margin-right: 1rem; } }

.logo {
    color: #fff;
    font-size: 1.5rem; }
.logo i {
    margin-right: 0.5rem; }

footer * {
    font-family: 'Lato', sans-serif;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 4px; }

.image-overlay-content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0; }

.overlay-fade-in p {
    letter-spacing: 0.15em;
    color: #f4f4f4;
    font-size: 28px;
    opacity: 0;
    transition: all 0.2s linear; }
.overlay-fade-in img {
    transition: all 0.2s linear; }
.overlay-fade-in .image-overlay-content {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out; }
.overlay-fade-in h2 {
    color: #f2f2f2;
    font-size: 1.8rem;
    margin-top: 40%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.7); }
.overlay-fade-in .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #FFF;
    color: #222;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    position: relative;
    border: 1px solid #999;
    opacity: 0;
    transition: all 0.2s ease-in-out; }
.overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000; }
.overlay-fade-in:hover img {
    transform: scale(1.2); }
.overlay-fade-in:hover .image-overlay-content {
    opacity: 1; }
.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button {
    opacity: 1; }
.overlay-fade-in:hover p {
    transition-delay: 0.1s; }
.overlay-fade-in:hover .button {
    transition-delay: 0.2s; }

.overlay-slide-in-left img {
    transition: all 0.3s ease-in-out; }
.overlay-slide-in-left .image-overlay-content {
    background-image: url(http://www.awwwards.com/awards/images/2015/04/pattern.jpg);
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateX(-110%);
    opacity: 1;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 7px #ccc; }
.overlay-slide-in-left h2 {
    font-size: 1.8rem;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 40%;
    color: #000;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); }
.overlay-slide-in-left p {
    opacity: 0;
    color: #333;
    transition: all 0.2s linear; }
.overlay-slide-in-left .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    position: relative;
    border-radius: 7px; }
.overlay-slide-in-left .button:hover {
    background-color: #444; }
.overlay-slide-in-left:hover .image-overlay-content {
    transform: translateX(0px); }
.overlay-slide-in-left:hover img {
    transform: translateX(80%);
    transition-delay: 0.1s; }
.overlay-slide-in-left:hover p {
    opacity: 1;
    transition-delay: 0.4s; }

.overlay-fade-in-new-background .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
    position: relative;
    opacity: 0;
    transition: all 0.2s ease-in-out; }
.overlay-fade-in-new-background .button:hover {
    box-shadow: 0 0 5px #fff;
    background-color: #222; }
.overlay-fade-in-new-background p {
    font-size: 28px; }
.overlay-fade-in-new-background .image-overlay-content {
    opacity: 0;
    background-image: url(http://subtlepatterns.com/patterns/gplaypattern.png);
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease-in-out; }
.overlay-fade-in-new-background h2 {
    color: #000;
    font-size: 1.6rem;
    margin-top: 30%;
    opacity: 0;
    transition: all 0.2s ease-in-out; }
.overlay-fade-in-new-background p {
    opacity: 0;
    transition: all 0.2s linear; }
.overlay-fade-in-new-background img {
    transition: all 0.2s ease-in-out; }
.overlay-fade-in-new-background:hover img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    transform: scale(1.5); }
.overlay-fade-in-new-background:hover .image-overlay-content {
    opacity: 1; }
.overlay-fade-in-new-background:hover h2, .overlay-fade-in-new-background p, .overlay-fade-in-new-background .button {
    opacity: 1; }
.overlay-fade-in-new-background:hover p {
    transition-delay: 0.1s; }
.overlay-fade-in-new-background:hover .button {
    transition-delay: 0.2s; }

h2 {
    margin-top: 40px;
    font-weight: 200;
    color: #333;
}

.centered-text {
    text-align: center;
}

.quote-marks {
    font-size: 100px;
    font-family: Garamond;
    color: #777;
}

.move-right {
    position: relative;
    text-align: right;
}

.quote {
    border-radius: 5px;
}

.quote p {
    font-weight: 300;
}

@media only screen and (max-width: 40em) {
    .quote p {
        padding-left: 20px;
    }
}

.student {
    margin-left: 25px;
    margin-bottom: 80px;
}
.student .photo {
    background-color: #ccc;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 15px;
}
.student p {
    position: relative;
    top: 5px;
}
.student p:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}
.student p:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
    color: #777;
}

.row {
    max-width: 100% !important;
}

.menu li a:hover {
    background: #9f3728 !important;
}

@media only screen and (max-width: 40em) {
    .welcome-container h1 {
        font-size: 1.2em;
        color: #FFFFFF;
        font-weight: 500;
        text-shadow: #939393 1px 1px 2px;
        text-align: left;
    }

    .button {
        padding: 0.625em 1.25em 0.6875em 1.25em;
        font-size: 0.6em;
    }

    .quote p {
        font-size: 0.7em;
    }

    .primary-mobile-text {
        font-size: 60%;
    }

    .team-photo {
        border-radius: 1000px;
        border: 2px solid #3478b8;
    }

    .quote-marks {
        width: 20px;
        height: 20px;
    }

    .welcome-container {
        top: 40px;
    }

    header{
        position: relative;
        z-index: 5 !important;
    }

    .menu li{
        width: 109%;
    }

}